@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v9/a8IbNovtLWfR7T7bMJwrGIKR8Ttcte1q.woff2) format("woff2");
}
h2 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

h3 {
  font-size: 14px;
  margin: 0;
}

h4 {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

p {
  font-weight: 100;
  padding: 0;
  font-size: 14px;
}

li {
  font-weight: 500;
  font-size: 12px;
}

.btn {
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 94%);
  cursor: pointer;
  border-radius: 50px;
  border: none;
  color: white;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}
.btn--order {
  width: 100px;
}
.btn:hover {
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 94%);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.hiw-btn-all {
  display: flex;
  flex-direction: row;
}

.hiw-btn {
  background: #f0f0f0;
  border-radius: 20px;
  border: none;
  color: #000;
  width: 85%;
  padding: 20px;
  font-size: 13px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.hiw-btn--purple {
  background: #f2eafb;
}

.fa-stack {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.menu-stack {
  margin-top: -8px;
}

@media only screen and (min-width: 1024px) {
  .menu-stack {
    margin-top: 11px;
  }
}
.fa-heart {
  font-size: 20px;
  padding-left: 2.3px;
  overflow: hidden;
}

.fa-stack .fa-shield-heart {
  color: #fff;
}

.fa-stack .menu-shield {
  color: #f6f6f6;
}

@media only screen and (min-width: 1024px) {
  .fa-stack .fa-shield-heart {
    color: white;
  }
}
.fa-stack .fa-heart {
  font-size: inherit;
  overflow: hidden;
}

.fa-heart::before {
  border-bottom: 41px solid white;
  padding: 0 10px;
}

.menu-heart::before {
  border-bottom: 41px solid #f6f6f6;
  padding: 0 10px;
}

@media only screen and (min-width: 1024px) {
  .fa-heart::before {
    border-bottom: 41px solid white;
    padding: 0 10px;
  }
}
.fa-heart:hover:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 94%);
  z-index: -1;
  border-radius: 36%;
  left: 50%;
  transform: translateX(-50%);
  animation: fill 2s ease-in-out forwards;
}

@keyframes fill {
  from {
    top: 24px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: 8px;
    transform: translateX(-50%) rotate(360deg);
  }
}
.fa-heart {
  align-self: center;
  cursor: pointer;
}

.fa-solid {
  color: #777777;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-store {
  color: #9356DC;
}

.fa-location-dot {
  margin: 0;
}

.fa-xs {
  color: #fff;
  margin-left: -1px;
}

.numbers {
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  height: fit-content;
  font-size: 10px;
  padding: 3px 6px;
  align-self: center;
  position: relative;
  left: 10px;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .numbers {
    padding: 10px 15px;
    font-size: 15px;
  }
}

.new-label {
  background: #99E2D0;
  color: #278870;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 23px;
  border-radius: 2px;
  position: absolute;
  top: 8px;
  right: 16px;
  bottom: auto;
  left: auto;
  z-index: 2;
}

#main-header {
  margin-bottom: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}
#main-header .header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#main-header .header-container .logo {
  width: 170px;
  height: 30px;
  align-self: center;
  margin: 0 auto;
}

#location-bar {
  background: #eeeeee;
  padding: 5px 0 12px;
}

.location-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  color: #2a2a2a;
}

.discover-info {
  text-align: center;
  margin: 0px 30px 20px 30px;
  font-size: 16px;
}

#book {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
#book .bookthemenu {
  text-align: center;
  padding: 25px;
}

#howitworks {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hiw-blocks_container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  gap: 20px;
  width: 90%;
}

@media only screen and (min-width: 1024px) {
  .hiw-blocks_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .hiw-btn-text {
    font-size: 16px;
    font-weight: 500;
    color: #373737;
  }
}
.restaurantcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.dsktp-flex-cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media only screen and (min-width: 1024px) {
  .restaurantcontainer {
    flex-direction: row;
  }

  .dsktp-flex-cont {
    width: 50%;
    gap: 8%;
  }
}
.__title {
  padding-left: 20px;
  background: transparent;
}

.restaurants {
  padding-bottom: 3vh;
}

#maincards {
  background-color: #f6f6f6;
  padding: 30px 0 10%;
}

.block {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 90%;
  margin: 0 auto;
  height: 205px;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .block {
    height: 35vh;
  }
}
.block--image {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 70%;
  width: 100%;
  display: block;
  z-index: 1;
}

.info {
  margin: auto;
  padding-top: 2vh;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block__description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 3px;
  margin: auto;
  width: 93%;
  z-index: 2;
}

.block__description-name {
  width: 60%;
  margin: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  animation: load-content 3s;
  z-index: 1;
}

#page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
}

.loader-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: hide-loader-cont 3s;
}

.loader {
  border: 20px solid #f6f6f6;
  border-radius: 50%;
  border-top: 20px solid #9356DC;
  border-image: linear-gradient(to right bottom, #260B3C, #a053df);
  animation: spin 3s linear;
  animation-fill-mode: forwards;
  left: 35%;
  top: 35%;
  width: 25vw;
  height: 25vw;
  z-index: 1000;
}

@keyframes spin {
  0% {
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
#content {
  animation: load-page 0s 3s forwards;
  opacity: 0;
}

@keyframes load-page {
  to {
    opacity: 1;
  }
}
@keyframes hide-loader-cont {
  to {
    visibility: hidden;
  }
}
a {
  text-decoration: none;
  color: #000;
}
a a:hover {
  color: #9356DC;
}

footer {
  width: 100%;
  background: #373737;
  height: auto;
  bottom: 0;
  position: relative;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.footer__list--title {
  font-family: Shrikhand, sans-serif;
  margin: 5px 0;
}

.footer__list {
  font-size: 12px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 0;
  padding: 20px 0 25px 20px;
  color: white;
}

@media only screen and (min-width: 720px) {
  .footer__list {
    justify-content: space-between;
  }
}
.footer-link {
  color: #fff;
}

#menu-header {
  z-index: 2;
}

.header-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-menu-container .logo {
  width: 150px;
  height: 25px;
  align-self: center;
  margin: 0 auto;
}

#block__description-name_menu {
  font-family: Shrikhand, sans-serif !important;
}

.menu-mainimage {
  object-fit: cover;
  z-index: 1;
  height: 30vh;
  width: 100%;
}

.menu-box {
  border-radius: 25px 25px 0 0;
  background: #f6f6f6;
  z-index: 2;
  position: relative;
  bottom: 55px;
  margin-bottom: -55px;
  padding-bottom: 10%;
}

.menu-title {
  width: 70%;
}

.underline {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  align-self: start;
  margin-left: 5%;
}
@media only screen and (min-width: 1024px) {
  .underline {
    text-align: center;
  }
}
.underline:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5px;
  left: 0;
  width: 30px;
  border-bottom: 2.5px solid #99E2D0;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: none;
  color: #000;
  background-color: #fff;
  overflow: hidden;
  font-size: 13px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}
.menu-items__main {
  text-transform: capitalize;
  font-size: small;
  font-weight: 500;
}
.menu-items__side {
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.menu-items__price {
  padding: 10px;
  align-items: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 11px;
}

@keyframes reveal {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-items {
  animation: 2s all ease;
  animation-delay: calc(var(--animation-order) * 150ms);
  animation-fill-mode: both;
  animation-name: reveal;
}

.no1 {
  --animation-order: 1;
}

.no2 {
  --animation-order: 2;
}

.no3 {
  --animation-order: 3;
}

.no4 {
  --animation-order: 4;
}

.no5 {
  --animation-order: 5;
}

.no6 {
  --animation-order: 6;
}

.no7 {
  --animation-order: 7;
}

.no8 {
  --animation-order: 8;
}

.no9 {
  --animation-order: 9;
}

.no10 {
  --animation-order: 10;
}

@media only screen and (min-width: 320px) {
  .menu-image-cont {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
  }

  .menu-items {
    width: 500px;
    height: 65px;
  }
  .menu-items__main {
    font-size: medium;
  }
  .menu-items__price {
    font-size: 13px;
  }
  .menu-items .menu-sides {
    font-size: 13px;
  }

  .zig-zag-display {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 12px;
  }

  .menu-image-cont {
    display: block;
  }

  .menu-image {
    height: 400px;
    width: 400px;
  }
}
.menu-sides {
  font-size: 11px;
}

.menu-items__main:hover, .menu-sides:hover {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.menu-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7%;
  margin-top: 10%;
  padding-top: 10%;
}

@media only screen and (min-width: 1024px) {
  .menu-info {
    width: 45%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 150px;
    background-color: #fff;
    border-radius: 25px;
    justify-content: space-evenly;
  }

  #block__description-name_menu {
    font-size: 30px;
    padding: 10px;
  }
  #block__description-name_menu::before {
    font-family: "Font Awesome 5 Free";
    content: "\e4c6";
    padding: 15px;
    color: #99E2D0;
  }

  .fa-heart {
    font-size: large;
  }
}
.menu-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 6%;
  margin-bottom: 12%;
}

.tick-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin-right: -20%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  width: 15%;
}

.fa-circle-check {
  background-color: #99E2D0;
  color: #fff;
}

.menu-items:hover .tick-box {
  transition: all 500ms;
  margin-right: 0%;
}

.menu-items:hover .tick-box .fa-circle-check {
  transition: all 500ms ease-in-out;
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.css.map */
