//Footer

footer {
    width: 100%;
    background: darken($background, 75%);
    height: auto;
    bottom: 0;
    position: relative;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}


.footer__list--title {
    font-family: Shrikhand, sans-serif;
    margin: 5px 0;

}

.footer__list {
    font-size: 12px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 0;
    padding: 2vw 0 3vw 2vw;
    color: white;
}
@media only screen and (min-width:720px){
    .footer__list{
    justify-content: space-between;
    }
}
.footer-link{
    color: #fff;
}