//Footer

footer {
    width: 100%;
    background: darken($background, 75%);
    height: auto;
    bottom: 0;
    position: relative;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.footer__list--title {
    font-family: Shrikhand, sans-serif;
}

.footer__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    list-style: none;
}
@media only screen and (min-width:720px){
    .footer__list{
    justify-content: space-between;
    }
}