
$box-shadow:  0 0.5rem 1.5rem rgba(#000, 0.15) !default;
.restaurantcontainer {
    @include flex-column;
    background-color: $background;
    height: auto;
    gap: 15px;
    width: 100%;
    padding:30px 0 30px
}
.dsktp-flex-cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@include breakpoint(desktop){
    .restaurantcontainer{
    flex-direction: row;
    }
    .dsktp-flex-cont{
        width: 50%;
        gap:5%;
    }
}


.__title{
    padding-left: 20px;
    background: $background;
    width: 100%;
}


    .block {
        box-shadow :$box-shadow;
        width: 90%;
        margin: 0 auto;
        height: 205px;
        border-radius: 15px;
        flex-direction: column;
        position: relative;
    }
    @include breakpoint(desktop){
        .block{
            height: 30%;
        }
    }

    .block--image {
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        height: 70%;
        width: 100%;
        display: block;
        z-index: 1;
    }

    .info{
        margin: auto;
        margin-top: 5%;
        width: 93%;
        @include flex-row;
    }

    .block__description {
        @include text-leftflex;
        z-index: 2;
    }
    

    .block__description-name {
        width: 60%;
        margin: 0;

    }
        

.howitworks-title{
    @include text-leftflex
}