


#main-header{
    margin-bottom: 10px;
    box-shadow: $box-shadow;

    .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;

        

        .logo {
            width: 170px;
            height: 30px;
            align-self: center;
            margin: 0 auto;
        }
    }
}
#location-bar{
    background: darken($background, 3%);
    padding: 5px 0 12px;

}
.location-info{
    @include centreflex; 
    gap: 5%;
    color: darken($background, 80%);
}
.discover-info{
    text-align: center;
    margin:0px 30px 20px 30px;
    font-size: 16px;
}
#book{
    background-color: $background;
    padding-bottom: 40px;
        .bookthemenu{
         text-align: center;
         padding: 25px;
        }
}
#howitworks{
    @include padding-container;
}

.hiw-blocks_container{
    background: #fff;
    @include flex-column;
    @include push--auto;
    margin-top: 20px;
    gap: 20px;
    width: 90%;

}
@include breakpoint(desktop){
    .hiw-blocks_container{
        @include flex-row;
    }
}
.btn-container{
    @include centreflex;
    
}
@include breakpoint(desktop){
    .hiw-btn-text{
        font-size: 16px;
        font-weight: 500;
        color: darken($background, 75%);
    }
}