html, body {
    font-family: $font-stack;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    animation: load-content 3s;
    z-index: 1;
  }
  
#page {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440;
}
// Loading circle //

.loader-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .loader {
    border: 20px solid #f6f6f6;
    border-radius: 50%;
    border-top: 20px solid $primary;
    //* border-image: linear-gradient(to right bottom, #260B3C, #a053df); *//
    animation: spin 3s linear;
    animation-fill-mode: forwards;
    left: 35%;
    top: 35%;
    width: 25vw;
    height: 25vw;
    z-index: 1000;
  }
  
  @keyframes spin {
      0%{
          visibility: visible;
      }
    100% {
         transform: rotate(360deg);
         visibility: hidden; 
        }
  }

      #showme {
        animation: load-page 0s 3s forwards;
        opacity: 0; 
      }
      
      @keyframes load-page {
        to   { opacity: 1; }
      }

// end //
a{
text-decoration: none;
color: #000;

    a:hover{
        color: $primary;
    }
}
