.numbers{
    background: $primary;
    color: #fff;
    border-radius: 50%;
    height: fit-content;
    font-size: 10px;
    padding: 3px 6px;
    align-self: center;
    position:relative;
       left:10px
    

}