
#menu-header{
    z-index: 2;
}
    .header-menu-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;


        .logo {
            width: 150px;
            height: 25px;
            align-self: center;
            margin: 0 auto;
        }
    }

#block__description-name_menu{
    font-family: Shrikhand, sans-serif !important;
}
.menu-mainimage{
    object-fit: cover;
    z-index: 1;
    height: 30vh;
        width: 100%;

}
.menu-box{
   border-radius: $menu-border; 
   background: $background;
   z-index: 2;
   position: relative;
   bottom: 55px;
   margin-bottom:-55px ;
   padding-bottom: 10%;

}
.menu-title{
    width: 70%;
}
.underline{
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    align-self: start;
    margin-left: 5%;
    @include breakpoint(desktop){
        text-align: center;
    }

    &:after{
        content: "";
        @include abs-position (0, 0, -5px, 0);
        width:30px;
        border-bottom:2.5px solid $tertiary;

    }
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: none;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    font-size: $btn-size;
    box-shadow: $box-shadow;

    &__main{
        text-transform: capitalize;
        font-size: small;
        font-weight: 500;
    }
    &__side{
        width: 75%;
        padding:10px;
        display: flex;
        flex-direction: column;
        gap: 10%;
    }
    &__price{
        padding: 10px;
        align-items: center;
        margin-top: 15px;
        font-weight: 500;
        font-size: 11px;
    }
    
}
@keyframes reveal{
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    to{
        transform: translateY(0);
        opacity:1;
        
    }   
}
.menu-items{
    animation: 2s all ease ;
    animation-delay: calc(var(--animation-order) * 150ms);
    animation-fill-mode: both;
    animation-name: reveal;
}
    .no1{--animation-order: 1;}
    .no2{--animation-order: 2;}
    .no3{--animation-order: 3;}
    .no4{--animation-order: 4;}
    .no5{--animation-order: 5;}
    .no6{--animation-order: 6;}
    .no7{--animation-order: 7;}
    .no8{--animation-order: 8;}
    .no9{--animation-order: 9;}
    .no10{--animation-order: 10;}

    .menu-image-cont{
        display: none;
    }

@include breakpoint(desktop){
    .menu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5%;
    }
    .menu-items{
        width: 500px;
        height: 65px;

        &__main{
            font-size: medium;
        }
        &__price{
            font-size: 13px
        }
        .menu-sides{
            font-size: 13px;
        }
    }
    .zig-zag-display{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        gap:12px;
    }
    .menu-image-cont{
        display: block;

        }
    }   
    .menu-image{
        height:400px;
        width: 400px;
}

.menu-sides{
    font-size: 11px;
}
.menu-items__main:hover, .menu-sides:hover{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.menu-info{
    @include flex-row;
    margin: 7%;
    margin-top: 10%;
    padding-top:10% ;

}


@include breakpoint (desktop){
    .menu-info{
        width: 45%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        position: relative;
        bottom: 150px;
        background-color: #fff;
        border-radius: 25px;
        justify-content: space-evenly
    }
    #block__description-name_menu{
        font-size: 30px;
        padding: 10px;
        &::before{
            font-family: "Font Awesome 5 Free";
            content: "\e4c6";
            padding: 15px;
            color: $tertiary;
        }
    }
    .fa-heart{
        font-size: large;
    }
}
.menu-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 6%;
    margin-bottom:12%;
}
.tick-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    margin-right: -20%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    width: 15%;
}
.fa-circle-check{
    background-color: $tertiary;
    color: #fff;
}
.menu-items:hover .tick-box {
    transition: all 500ms;
    margin-right: 0%;
}
.menu-items:hover .tick-box .fa-circle-check{
        transition: all 500ms ease-in-out;
        transform: rotate(360deg);
    }

